body{
    background-color: azure;
    margin: 0;
    padding: 0;
}
p{
    background-color: bisque;
    padding: 5%;
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    overflow: auto;
    margin-block-end: 0;
    margin-block-start: 0;
}
    /* width */
  ::-webkit-scrollbar {
    width: 100px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f828ff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(224, 34, 34); 
    transition-property: width;
    transition-duration: 2ms;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(225, 133, 233); 
  }

  h1>p:nth-child(2){
    margin-top: 0;
  }
  h1>p:nth-child(1){
      margin-bottom: 0;
  }